body {
	background-color: #8A8A7B;
}

td {
	background-color: #00B32D;
	width: 60px;
	height: 60px;
}

table {
	background-color: #006633	;
	border-spacing: 5px;
	margin: auto;
}

td.player1 {
	background-color: #FF2626;
}

td.player2 {
	background-color: #2626FF;
}

h1#winner1 {
	color: #D90000;
}

h1#winner2 {
	color: #0036D9;
}

h1 {
	text-align: center;
}

h2 {
	color: #006633;
	text-align: center;
}

#winMessage {
	width: 50%;
}

#score1 {
	float: right;
	color: #D90000;
	font-size: 70px;
}

#score2 {
	float: left;
	color: #0036D9;
	font-size: 70px;
}

div {
	background-color: #00B32D;
	border-width: 5px;
	border-color: #006633;
	border-style: double;
	padding: 5px 10px;
	margin: 290px 100px 0px 100px;
}
